#welcome-section {
    background-color: azure;
    text-align: center;
}
#welcome-section h1{
    line-height: 100vh;
}
#projects {
    background-color: white;
    text-align: center;
}
body {
    background-color: black;
}
.section {
    height: 100vh;
    width: 100%;
}



